<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.dao.BeforeOrderitemsDao">
<insert id="addOrderitem" parameterType="Orderitem">
	insert into orderitem (product_id,order_id,buynum) values (#{product_id},#{order_id},#{buynum})
</insert>
<select id="searchOrderitemsById" resultType="Orderitem" parameterType="String">
	select * from orderitem where order_id=#{id}
</select>
</mapper>